<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şirkətdaxili Nizam-İntizam və Davranış Qaydaları</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }

        h2, h3 {
            color: #333;
        }
        h2 {
            margin-top:20px
        }

        ul {
            margin-bottom: 20px;
        }

        li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <h2>Şirkətdaxili Nizam-İntizam və Davranış Qaydaları</h2>
    <p>Bu qaydalar müştəri gözündə şirkətin individualılığını təmin etmək, xidməti artıraraq müştəri məmnuniyyətini təmin etmək, yeni əməkdaşların xidmətə uyğunlaşmasını asanlaşdırmaq və əməkdaşların iş keyfiyyətinə nəzarət etmək üçündür.</p>

    <h3>1. Texniki Standartlar</h3>
    <ul>
        <li>Satış zalının, vitrinlərin, pəncərə və şüşələrin təmizliyi, işıqlandırma sisteminin işləməsi.</li>
        <li>Zəruri təmizlik işlərinin iş saatı başlayana qədər aparılması.</li>
        <li>Müştəri zalda olmadığı zaman xırda təmizlik işlərinin yerinə yetirilməsi.</li>
        <li>Kassa ətrafının səliqəli olması.</li>
        <li>Məhsul düzülüşünün merçendayzer qaydasına uyğun olması.</li>
        <li>Fon musiqisinin səviyyəsinin danışıq tonundan yüksək olmaması.</li>
        <li>Zalın temperaturunun 22 dərəcədən çox olmaması.</li>
        <li>İşıqlandırmaya nəzarət olunması və qaranlıq düşəndə çöl işıqlarının yandırılması.</li>
        <li>Məhsul qəbulunun müştərilərin gözü qarşısında edilməməsi.</li>
    </ul>

    <h3>2. Xarici Görünüş Standartları</h3>
    <ul>
        <li>Xanım əməkdaşların saçlarının açıq və dağınıq olmaması.</li>
        <li>Böyük həcmli saç aksesuarlarının istifadə edilməməsi.</li>
        <li>İstifadə olunan bəzək əşyası müştərinin diqqətini yayındırmamalıdır.</li>
        <li>Dırnaqların manikürlü və baxımlı olması.</li>
        <li>Şirkət tərəfindən verilən geyimlərin səliqəli və təmiz saxlanılması.</li>
        <li>Şalvarın klassik üslubda olması.</li>
        <li>Şalvarın əməkdaşın şəxsi hesabına təmin edilməsi.</li>
        <li>Klassik hündür ayaqqabı və idman ayaqqabılarından istifadə edilməməsi.</li>
        <li>Ayaqqabının tünd rəngdə olması.</li>
        <li>İsti yay günləri istisna olmaqla müdirlərin klassik geyim üslubunda olması.</li>
        <li>Müdir, müdir müavini və satıcı-konsultantların geyimlərinin səliqəli və təmiz olması.</li>
        <li>Mağaza əməkdaşlarının firmanın standartlarına uyğun olmayan geyimlə xidmət göstərməməsi.</li>
        <li>Mağaza əməkdaşlarının isimliklərinin sinənin sol tərəfindən bərkidilməsi.</li>
        <li>Xanımların iş saatı başlamazdan əvvəl makiyajlarını tamamlamağı.</li>
        <li>Həddindən artıq gözəçarpan makiyaj edilməməsi.</li>
        <li>Makiyajsız satış zalına çıxılmaması və zalda makiyaj edilməməsi.</li>
        <li>Mağaza heyətinin şəxsi təmizliyi və müştərilərə xoş görüntü təqdim etməsi.</li>
        <li>Mağazada xanım işçilərin saçları arxa hissədə olması.</li>
    </ul>

    <h3>3. Müştərilərə Xidmət Standartları</h3>
    <ul>
        <li>Müştərinin ilk 6 saniyə ərzində qarşılanması.</li>
        <li>Müştərinin suallarının cavablandırılması.</li>
        <li>Şirkətin fərqliliyinin təmin edilməsi.</li>
    </ul>

    <h3>Qadağan Olunan Hərəkətlər</h3>
    <ul>
        <li>Müştəri ilə şəxsi konteksdə danışmaq.</li>
        <li>Yüksək səslə danışmaq.</li>
        <li>Yemək yemək və saqqız çeynəmək.</li>
        <li>Şəxsi telefondan və smart saatlardan istifadə etmək.</li>
        <li>Kitab oxumaq.</li>
        <li>Müştəri zalda olarkən əyləşmək və hər hansı bir əşyaya söykənmək.</li>
        <li>Satış zalını özbaşına tərk etmək.</li>
    </ul>
</body>
</html>
