@using IydePersonal.Application.Dtos.Punkt
@using IydePersonal.WEB.Models

@model IEnumerable<PunktDetailDto>


<button type="button" class="btn btn-outline-primary">
    <i class="bx bx-plus"></i> Əlavə et
</button>
<div class="card">
    <div class="table-responsive text-nowrap">
        


        <table class="table">

                    <tr>
                        <th><strong>Ad</strong></th>
                        <th><strong>Bal</strong></th>
                        <th><strong>Əməliyyat</strong></th>
                    </tr>
         
            <tbody class="table-border-bottom-0">
                @foreach (var punkt in Model)
                {
                    <tr>
                        <td>@punkt.Name</td>
                        <td>@punkt.Point</td>
                        <td><span class="badge bg-label-primary me-1">Active</span></td> 
                      
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>